.profile__profession {
  color: #FFFFFF;
  max-width: 336px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 7px 0 0;
}

@media screen and (max-width:768px) {
  .profile__profession {
    padding: 0;
    padding-top: 10px;
    text-align: center;
    font-size: 14px;
    line-height: 1.21;
  }
}