
.profile__edit {
  width: 24px;
  height: 24px;
  border: 1px solid white;
  margin-left: 18px;
  padding: 0;
  background-image: url(../../../images/profile-button-edit.svg);
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

@media screen and (max-width:768px) {
  .profile__edit {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    background-position: center;
    background-size: 18px;
    display: flex;
  }
}