.elements__card {
  max-width: 282px;
  background-color: #ffffff;
  border-radius: 8px;
  list-style: none;
  position: relative;
}

@media screen and (max-width:768px) {
  .elements__item {
    margin: 0 auto;
  }
}