.elements__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
  column-gap: 17px;
  row-gap: 20px;
}

@media screen and (max-width:916px) {
  .elements__cards {
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width:616px) {
  .elements__cards {
    grid-template-columns: 1fr;
  }
}