.elements__like {
  background-image: url(../../../images/element-button-like.svg);
  background-repeat: no-repeat;
  background-color: #ffffff;
  padding: 0;
  min-width: 22px;
  height: 19px;
  border: none;
  cursor: pointer;
}
