.popup__profession {
  padding: 0;
  width: 100%;
  max-width: 358px;
  min-height: 27px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width:616px) { 
  .popup__profession {
    width: 238px;
    margin-bottom: 45px;
  }
}