.profile__info {
  width: 366px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: flex-start;
}

@media screen and (max-width:768px) {
  .profile__info {
    width: 320px;
    justify-content: center;
  }
}