.profile__info {
  max-width: 366px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: flex-start;
}

@media screen and (max-width:768px) {
  .profile__info {
    justify-content: center;
  }
}