.footer {
  margin: 60px auto 66px auto;
  max-width: 880px;
  height: 18px;
}


@media screen and (max-width: 935px) {
  .footer {
    max-width: 581px;
  }
}

@media screen and (max-width: 636px) {
  .footer {
    max-width: 282px;
  }
}  

@media screen and (max-width:320px) {
  .footer {
    margin-top: 48px;
    margin-bottom: 36px;
    max-width: 282px;
  }
}