.popup__card {
  position: relative;
  width: 430px;
  min-height: 330px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width:616px) {
  .popup__card {
    width: 282px;
    margin: 0 auto;
    min-height: 322px;
  }
}